%a
  [ 
  = link_to 'last', quotes_path
  ]

%a
  [
  = link_to "random", random_quotes_path
  ]
  
%a
  [
  = link_to "browse", browse_quotes_path
  ]

%a
  [ 
  = link_to 'add', new_quote_path
  ]

%a
  [
  = link_to "search", search_quotes_path
  ]

