- identifier = quote.ident.to_s

- user = 'none'
- if quote.user
  - user = quote.user.name

- date = 'not yet'
- if quote.approved_at
  - date = quote.approved_at.strftime("%d.%m.%Y %H:%M")
      
%div{:class => "quote"}
  .quote_title
    = link_to '#' + identifier, identifier
    approved by #{user}, #{date}

    - if user_signed_in?
      \~~~ 
      - if !quote.approved_at
        :plain
          #{link_to 'approve', quote_approve_path(quote)} ~ 
      :plain
        #{link_to 'edit', edit_quote_path(quote)} ~ 
      = link_to 'delete', quote, :method => :delete
  .quote_content
    - content = quote.content.gsub "\n", "<br />"
    :plain
      #{content}
  .quote_content
    -if !defined? vk_off
      %div{:id => "rating_#{identifier}", :class => 'rating'}
    - else 
      %div
        &nbsp;
    - if quote.comments_count
      .comments_count
        = link_to "#{quote.comments_count} comments", identifier

- if defined? comments
  %div{:id => "comments_#{identifier}", :class => "comments"}
