:plain
  [ #{link_to 'last', quotes_path} ]
  [ #{link_to "random", random_quotes_path} ]
  [ #{link_to 'add', new_quote_path} ]
  [ #{link_to "search", search_quotes_path} ]
  [ #{link_to "about", "/about"} ]

