:plain
  [ #{link_to 'last', root_path} ]
  [ #{link_to "all", all_quotes_path} ]
  [ #{link_to "best", best_quotes_path} ]
  [ #{link_to "hot", hot_quotes_path} ]
  [ #{link_to 'add', new_quote_path} ]
  [ #{link_to "about", "/about"} ]

