!!!
%html
  %head
    %title "Цитатник - nwn.name"
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
      = csrf_meta_tag
    = stylesheet_link_tag 'application.css', :media => 'screen'
  %body.bp
    #header
      %h3 Цитатник
      %p Все что вы скажете будет вырвано из контекста и искажено © Keil
    #menutop.menu
      %a= link_to "last", quotes_path
      -#%a= link_to "random", :controller => "quotes", :action => "random"
      -#%a= link_to "browse", :controller => "quotes", :action => "browse"
      %a= link_to "add", new_quote_path
      -#%a= link_to "search", :controller => "search"
    #container
      = yield
